*{
    padding:0;
    margin:0;
}

body{
	background-color: rgba(245, 246, 243, 0.958)
}


/* Primera barra: redes sociales */
.top-bar {
    background-color: #79dcd0;
    padding: 5px 0;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  
  .social-links a img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    vertical-align: middle;
  }
  


  .barra-redes a:hover img {
  transform: scale(1.2);
}

.social-icons img {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  vertical-align: middle;
}



/*Seccion de tarjetas*/

.tarjetas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.tarjeta {
  width: 250px;
  border: 1px solid #e7521e;
  padding: 15px;
  text-align: center;
  background-color: white;
  transition: transform 0.3s ease;
}

.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tarjeta h3 {
  font-size: 16px;
  color: #00425a;
  margin: 15px 0;
}

.boton {
  display: inline-block;
  background-color: #e7521e;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.boton:hover {
  background-color: #c34116;
}


.info-extra {
  text-align: justify;
  padding: 10px;
  color: #333;
  font-size: 14px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

/*Separado del titulo y barra de navegacion*/

h1 {
  margin-top: 80px;         /* Separación de la barra fija */
  font-size: 40px;          /* Tamaño de letra (ajustable) */
  text-align: center;       /* Centrado horizontal */
  color: #00425a;           /* Color de tu paleta */
  font-weight: bold;        /* Negrita opcional */
  font-family: 'Arial', sans-serif;  /* O alguna otra fuente legible */
}
